Fake_News_Detection

Domain:Data Science using Python with Machine Learning

Batch:15-Oct-2025

In [1]:
#import the necessary modules for data analysis and machine learning
import sklearn
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
#load the data set

df=pd.read_csv("C:\\Users\\krish\\Downloads\\WELFake_Dataset.csv\\WELFake_Dataset.csv")

In [3]:
df.shape

(72134, 4)

In [4]:
df.head()

,Unnamed: 0,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1

In [5]:
# change in labels column: 'real' -> 1 and 'fake' -> 0

df['label'] = df['label'].replace({'real': 1, 'fake': 0})

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72134 entries, 0 to 72133
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  72134 non-null  int64
 1   title       71576 non-null  object
 2   text        72095 non-null  object
 3   label       72134 non-null  int64
dtypes: int64(2), object(2)
memory usage: 2.2+ MB

In [7]:
#split the training and test data

X = df['text']
y = df['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
#check for missing values

df.isnull().sum()

Unnamed: 0      0
title         558
text           39
label           0
dtype: int64

In [9]:
#remove column named title

df=df.drop('title', axis=1)
df.head()

   Unnamed: 0                                               text  label
0           0  No comment is expected from Barack Obama Membe...      1
1           1     Did they post their votes for Hillary already?      1
2           2   Now, most of the demonstrators gathered last ...      1
3           3  A dozen politically active pastors came here f...      0
4           4  The RS-28 Sarmat missile, dubbed Satan 2, will...      1

In [10]:
#removing only those rows having some null values
df = df.dropna()

In [11]:
df.shape

(72095, 3)

In [12]:
df.isnull().sum()

Unnamed: 0    0
text          0
label         0
dtype: int64

In [14]:
# changing labels from 0->Fake and 1->Real
df['label']=df['label'].replace({'Real':1,'Fake':0})

In [15]:
# just leaving only two columns 'text' and 'label' and removing all rest of the columns

df=df[['text','label']]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72095 entries, 0 to 72133
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    72095 non-null  object
 1   label   72095 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.7+ MB

In [17]:
df.head()

                                                text  label
0  No comment is expected from Barack Obama Membe...      1
1     Did they post their votes for Hillary already?      1
2   Now, most of the demonstrators gathered last ...      1
3  A dozen politically active pastors came here f...      0
4  The RS-28 Sarmat missile, dubbed Satan 2, will...      1

In [18]:
#re-split the data after dropping null values
X = df['text']
y = df['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#initialize tfidf vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import csr_matrix
vectorizing = TfidfVectorizer(stop_words='english', max_df=0.7)

# fit and transform the training data set, transform the test data set
X_train_vectors = vectorizing.fit_transform(X_train)
X_test_vectors = vectorizing.transform(X_test)

In [19]:
# initialize the random forest classifier
model = RandomForestClassifier()
# train the model
model.fit(X_train_vectors, y_train)
# make predictions
predictions = model.predict(X_test_vectors)
# calculate the accuracy
accuracy = accuracy_score(y_test, predictions)
print("Accuracy:", accuracy)

Accuracy: 0.92939871003537

In [20]:
#detecting fake or real news on a sample input news

news=input('Enter the news article: ')
news_vector = vectorizing.transform([news])
result = model.predict(news_vector)
print('model prediction:', result)
if int(result[0])==0:
    print("The news is Fake")
else:
    print("The news is Real")

model prediction: [1]
The news is Real

In [21]:
#using linear-regression model and predicting the results
from sklearn.linear_model import LinearRegression
lr_model=LinearRegression()
lr_model.fit(X_train_vectors, y_train)
lr_predictions=lr_model.predict(X_test_vectors)
lr_predictions = [1 if pred >= 0.5 else 0 for pred in lr_predictions]
print("Linear Regression Model Accuracy:", accuracy_score(y_test, lr_predictions))

Linear Regression Model Accuracy: 0.7425618974963589

In [22]:
# predicting results from linear regression model on a sample input news article
sample_news = "The economy is improving rapidly with new job opportunities."
sample_vector = vectorizing.transform([sample_news])
sample_prediction = lr_model.predict(sample_vector)
print("Linear Regression Model Prediction for sample news:", "Real" if sample_prediction[0] >= 0.5 else "Fake")

Linear Regression Model Prediction for sample news: Fake